# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Claude Code
.claude/settings.local.json

# OS
.DS_Store
Thumbs.db

# Gradle
/[Aa]ssets/Plugins/Android/gradleOut.aab
*.apk

# Crashlytics
crashlytics-build.properties

# Test results
TestResults*.xml
